  // SCSS Function that will make sure text is light on dark backgrounds, and dark on light backgrounds.
  @function text-color-picker($color) {
      @if(lightness($color) > 70) {
          @return black;
      }

      @else {
          @return white;
      }
  }

  // SCSS Mixin //    //because @mixin set-bg($color) is a utility the use of @include set-bg($color)is then used in style.scss BUT DO NOT FORGET TO IMPORT this _utilities file in style.scss//
  @mixin set-bg($color) {
      background-color: $color;
      color: text-color-picker($color)
  }

  // Standard CSS
  .box {
      max-width: 1100px;
      padding: 0 30px;
      margin: 0 auto;
      overflow: auto;
  }